body{
    margin: 0;
    background-color: whitesmoke;
}

header{
    max-width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.logo{
    height: 50px;
    margin-right: 915px;
    margin-top: 10px;
}

ul a{
    list-style: none;
    padding: 10px 15px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #af0000;
    text-decoration: none;
    display: inline-flex;
}

h1{
    text-align: center;
    font-size: 40px;
    color: #af0000;
}

.articulos{
    width: 50px;
    height: 50px;
}

.p{
    color: #af0000;
}

.informacion{
    color: #af0000;
    text-align: center;
}

.button{
    justify-content: center;    
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: #af0000;
}

.button:hover{
    background: black;
}