body{
    margin: 0;
    background-color: whitesmoke;
}

header{
    max-width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.logo{
    height: 50px;
    margin-right: 900px;
    margin-top: 10px;
}

ul a{
    list-style: none;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #af0000;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 40px;
    color: #af0000;
}

.articulos{
    width: 300px;
    height: 500px;
    border: 2px solid #333;
    margin-left: 50px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin-top: 30px;
}

.articulos_camiseta{
    width: 400px;
    height: 390px;
    border: 2px solid #af0000;
    margin-left: 50px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin-top: 30px;
}

.articulos_bamba{
    width: 400px;
    height: 390px;
    border: 2px solid #af0000;
    margin-left: 50px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin-top: 30px;
}

h2{
    padding: 5px;
    color: #af0000;
}

.accesorios{
    display: inline-block;
    gap: 20px;
}

.precio1{
    text-decoration: line-through;
    margin-right: 10px;
    color: #af0000;
}

.precio2{
    font-weight: bold;
    font-size: 25px;
}

.button{
    color: white;
    background-color: #af0000;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    background: black;
}

.articulos_camiseta img{
    width: 150px;
    height: 220px;
}

.articulos_bamba img{
    width: 360px;
    height: 220px;
}

.pie{
    width: 50px;
    height: 50px;
    gap: 50px;
    display: flex;
    margin-left: 815px;
    margin-top: 20px;
    background-color: #af0000;
    margin-bottom: 20px;
}

footer{
    max-width: 100%;
    background-color: #af0000;
    padding: 15px;
    margin-top: 50px;
}