body{
    margin: 0;
    background-color: whitesmoke;
}

header{
    max-width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.logo{
    height: 50px;
    margin-right: 900px;
    margin-top: 10px;
}

ul a{
    list-style: none;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #af0000;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 40px;
    color: #af0000;
}

.articulos{
    width: 400px;
    height: 520px;
    border: 2px solid #af0000;
    margin-left: 50px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin-top: 30px;
}

h2{
    padding: 5px;
    color: #af0000;
}

.ropa{
    display: inline-block;
    gap: 20px;
}

.button{
    background-color: #af0000;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.button:hover{
    background: black;
}


.articulos img{
    width: 200px;
    height: 335px;
}

.pie{
    width: 50px;
    height: 50px;
    gap: 50px;
    display: flex;
    margin-left: 795px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    max-width: 100%;
    background-color: #af0000;
    padding: 15px;
    margin-top: 50px;
}