body{
    margin: 0;
}

header{
    max-width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo{
    height: 50px;
    margin-right: auto;
    margin-top: 10px;
}

ul a{
    list-style: none;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.sabrina{
    margin-top: 20px;
    margin-left: 1700px;
    border-radius: 20px;
    height: 100px;
    width: 200px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
}

.fondo{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-acuarela-rosa-pintado-mano-detallado_1048-17039.jpg);
    width: 100%;
    height: 830px;
}

.bambasabrina{
    width: 800px;
    margin-left: 550px;
}

.pie{
    width: 50px;
    height: 50px;
    gap: 50px;
    display: flex;
    margin-left: 815px;
    margin-top: 20px;
}